services:
  - type: web
    name: voice-emotion-detector
    env: python
    plan: free
    apt:
      - ffmpeg
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn -c gunicorn.conf.py app:app
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.9
      - key: TRANSFORMERS_CACHE
        value: /opt/render/project/src/hf_cache
      - key: HF_HOME
        value: /opt/render/project/src/hf_cache
